[submodule "module/DMMotorCtrl"]
	path = module/DMMotorCtrl
	url = https://github.com/CQUPTHXC/DMMotorCtrl
[submodule "module/DJIMotorCtrl"]
	path = module/DJIMotorCtrl
	url = https://github.com/CQUPTHXC/DJIMotorCtrlESP
