[submodule "module/DMMotorCtrl"]
	path = module/DMMotorCtrl
	url = https://github.com/CQUPTHXC/DMMotorCtrl
[submodule "module/DJIMotorCtrl"]
	path = module/DJIMotorCtrl
	url = https://github.com/CQUPTHXC/DJIMotorCtrlESP
[submodule "module/HXC_CAN"]
	path = module/HXC_CAN
	url = https://github.com/CQUPTHXC/HXC_CAN
