[submodule "mudule/DJIMotorCtrlESP"]
	path = mudule/DJIMotorCtrlESP
	url = https://github.com/CQUPTHXC/DJIMotorCtrlESP.git
[submodule "mudule/DMMotorCtrl"]
	path = mudule/DMMotorCtrl
	url = https://github.com/CQUPTHXC/DMMotorCtrl
